
#header {
    margin-left:500px;
    margin-top:15px;
}

#tabla-contenidos img{
    width: 100%;
}

.col-md-4 img{
    width: 25%;
}

.col-md-6{
  margin: auto;
  padding: auto;
  font-family: serif;
  color: black;
}

.red{
  background-color: #FF0000;
  color: white;
  }

h1{
    margin-top: 90px;
    font: 900 15.5px/15px 'ProximaNova', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
header {
    background: #232323;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    z-index: 101;
    transition: all 0s;
    -ms-transition: all 0s;
    -moz-transition: all .0s;
    -webkit-transition: all .0s;
}

.form{
    margin-top:40px;
    margin-bottom:40px;
    margin-left:100px;
}

.form-control {
    border-radius: 10px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.tabla{
    background-color: black;
    color: white;
}
#fila1 {
    background-color: #cccccc;
    color: #000000;
}
#fila2 {
    background-color: #2271b3;
    color: #ffffff;
}


.columnas {
    background-color: blue;
    color: white;
}

#prueba2 {
    background-color: red;
    color: white;
}

